.button {
    -fx-background-color: linear-gradient(to bottom, #3e3e3e 0%, #191919 50%, #3e3e3e 100%),
    linear-gradient(to bottom, #3e3e3e 0%, #191919 50%, #3e3e3e 100%);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 5, 4;

    -fx-padding: 10 20 10 20;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, gold 0%, darkgoldenrod 50%, gold 100%);
    -fx-font-size: 14px;
    -fx-border-color: linear-gradient(from 0% 0% to 100% 200%, repeat, gold 0%, darkgoldenrod 50%, gold 100%);
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(three-pass-box, goldenrod, 10, 0, 0, 0);
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #191919 0%, #3e3e3e 50%, #191919 100%),
    linear-gradient(to bottom, #191919 0%, #3e3e3e 50%, #191919 100%);
}

#questionLabel {
    -fx-background-color: linear-gradient(to bottom, #3e3e3e 0%, #191919 50%, #3e3e3e 100%),
    linear-gradient(to bottom, #3e3e3e 0%, #191919 50%, #3e3e3e 100%);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 5, 4;

    -fx-padding: 10 20 10 20;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, gold 0%, darkgoldenrod 50%, gold 100%);
    -fx-font-size: 14px;
    -fx-border-color: linear-gradient(from 0% 0% to 100% 200%, repeat, gold 0%, darkgoldenrod 50%, gold 100%);
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(three-pass-box, goldenrod, 10, 0, 0, 0);
}